%ul.list-group 
  %li.list-group-item
    = link_to 'Organizations', '/organizations/'
  %li.list-group-item
    = link_to 'Addresses', '/addresses/'
  %li.list-group-item
    = link_to 'Industry sectors', '/industry_sectors/'
  %li.list-group-item
    = link_to 'Facility types', '/facility_types/'