.mb-3
  = link_to 'Boundaries', boundaries_path
  
= render partial: "notice", object: notice

%p
  %b Name:
  = @boundary.name
%p
  %b Organization:
  = link_to @boundary.organization.name, organization_path(@boundary.organization)
